.certificate{
    margin-top: 5rem;
    margin-bottom: 2rem;
}


.certificate-3{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
    gap:2rem;
    justify-content: center;
}

@media (max-width: 1030px) {
    .certificat img{
        margin-left:0rem;

    }
  }