.responsive-container-block {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    z-index: -1;
  }
  
  .responsive-container-block.bigContainer {
    padding-top: 5rem;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .responsive-container-block.Container {
    justify-content: space-evenly;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
  }
  
  .mainImg {
    width: 100%;
    height: 800px;
    object-fit: cover;
  }
  
  .imgContainer {
    position: relative;
    width: 48%;
  }
  
  .responsive-container-block.textSide {
    width: 48%;
    text-align: justify;
  }
  
  .text-blk.titlu {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .text-blk.descriere {
    font-size: 18px;
  }

  @media (max-width: 1024px) {
    .responsive-container-block.Container {
      position: relative;
      align-items: flex-start;
      justify-content: center;
    }
  
    .mainImg {
      bottom: 0px;
    }

    .imgContainer {
      position: relative;
      width: auto;
      margin-top: 0px;
      margin-right: auto;
      margin-bottom: 0px;
      margin-left: auto;
    }
  
    .responsive-container-block.textSide {
      width: 100%;
    }

    .responsive-container-block.Container {
      flex-direction: column-reverse;
    }
  }
  
  @media (max-width: 800px) {
    .imgContainer {
      position: static;
      height: 450px;
    }
  
    .mainImg {
      height: 100%;
    }  
  
    .responsive-container-block.bigContainer {
      padding-top: 10px;
      padding-right: 20px;
      padding-bottom: 10px;
      padding-left: 20px;
      padding: 0 30px 0 30px;
    }
  
    .responsive-container-block.textSide {
      margin-top: 40px;
      margin-bottom: 50px;
    }
  }