html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;
  padding: 0;
}

#navbar {
  background: #cb1e22;
  color: rgb(13, 26, 38);
  position: fixed;
  top: 0;
  height: 68px;
  line-height: 60px;
  width: 100%;
  z-index: 1;
}

.nav-wrapper {
  margin: 0;
  text-align: center;
  width: 100%;
}

.logo {
  float:left;
  font-size: 1.5em;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left:2rem;
}

#navbar ul {
  display: inline-block;
  list-style: none;
  margin-top: -2px;
  text-align: right;
  transition: transform 0.5s ease-out;
  -webkit-transition: transform 0.5s ease-out;
}
#navbar li {
  display: inline-block;
}

#navbar li a {
  color: rgb(248, 248, 248);
  display: block;
  font-size: 0.7em;
  height: 50px;
  letter-spacing: 1px;
  margin: 0 20px;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

#navbar li a:hover {
  /* border-bottom: 1px solid rgb(28, 121, 184); */
  color: rgb(168, 93, 100);
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

#navbar li a:before,
#navbar li a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -1px;
  background: rgb(255, 255, 255);
}

#navbar li a:before {
  left: 0;
  transition: 0.5s;
}


#navbar li a:hover:before {
  background: rgb(255, 255, 255);
  width: 100%;
  transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}

#navbar li a:hover:after {
  background: transparent;
  width: 100%;
  /* transition: 0s; */
}

.overlay-menu {
  background: rgb(195,34,34);
  background: linear-gradient(0deg, rgba(195,34,34,1) 0%, rgba(253,64,45,1) 100%);
  color: rgb(13, 26, 38);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0; 
  top:4rem;
  padding-right: 15px;
  transform: translateX(-100%);
  width: 100vw;
  height: 100%;
  -webkit-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  z-index: 1;
  text-decoration: none;
  position: fixed;
}

.overlay-menu ul,
.overlay-menu li {
  display: block;
  position: relative;
}

.overlay-menu li a {
  display: block;
  font-size: 1.8em;
  letter-spacing: 4px;
  padding: 10px 0;
  text-align: right;
  text-transform: uppercase;
}

.overlay-menu li a:hover,
.overlay-menu li a:active {
  color: rgb(28, 121, 184);
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.container-pagina {
  background: url(../assets/banner-3.jpg);
  background-size:cover;
  background-position:center center;
  /* background-repeat:no-repeat; */
  height: 800px;
  margin-top: 4rem;
}

.main {
  position: relative;
  top: 180px;
  text-align: center;
}

.main h1 {
  color:white;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
}

.main h2 {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
}

.btn-main {
  background-color: rgb(214, 46, 46);
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  letter-spacing: 1.3px;
  padding: 16px 50px;
  text-decoration: none;
  border-radius: 10rem;
  text-transform: uppercase;
}

/* container2 */

.img-text {
  padding: 70px 0px;
  background-color: rgb(246, 235, 236);
}
.img-text h1 {
  color: #800000;
} 
.img-text .content2 {
  height: 50%;
  display: flex;
  align-items: left;
  padding: 35px 0px;
  background-color: #800000;
}
.img-text .content p {
  font-size: 22px;
  background-color: #800000;
}
.himg-text .img {
  min-height: 320px;
  height: 100%;
  border-radius: 10px;
} 

/* container3 */

.iconite{
  padding-top: 80px;
  padding-bottom: 250px;
}

.iconite .col {
  float: left;
  width: 33%;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.iconite .col p{
  text-align: justify;
}
.iconite img {
  height: 32px;
}

.iconite h2 {
  font-weight: 600;
  font-size: 23px;
  text-transform: uppercase;
}

.iconite p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0 50px;
  margin-bottom: 40px;
}

@media (max-width: 800px) {
.iconite{
  margin-bottom:-200px;
}

 .col{
  display: contents;
 }
 .col img{
  margin-left: 45%;
 }
}

/* contact */
.contact {
  padding: 70px 0px;
}
.img-text h1 {
  color: #800000;
} 
.img-text .content2 {
  height: 50%;
  display: flex;
  align-items: left;
  padding: 35px 0px;
  background-color: #800000;
}
.img-text .content p {
  font-size: 22px;
  background-color: #800000;
}
.img-text .img {
  min-height: 540px;
  height: 100%;
  border-radius: 10px;

} 

.google-map {
  margin-top:2rem;
  padding-bottom: 50%;
  position: relative;
}

.google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

footer {
  background-color: #cb1e22;
  color: #fff;
  padding: 5px;
}

.container-footer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 5rem;
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 1024px) {
  .nav-wrapper {
    width: 100%;
  }
  #navbar ul {
    display: none;
  }
  .menuIcon {
    cursor: pointer;
    display: block;
    position: fixed;
    right: 15px;
    top: 20px;
    height: 23px;
    width: 27px;
    z-index: 12;
  }

  .icon-bars {
    background: rgb(13, 26, 38);
    position: absolute;
    left: 1px;
    top: 45%;
    height: 2px;
    width: 20px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .icon-bars::before {
    background: rgb(13, 26, 38);
    content: "";
    position: absolute;
    left: 0;
    top: -8px;
    height: 2px;
    width: 20px;
  }

  .icon-bars::after {
    margin-top: 0px;
    background: rgb(13, 26, 38);
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    height: 2px;
    width: 20px;
  }
/* animatie catonas meniu */
  .icon-bars.overlay {
    background: rgb(97, 114, 129);
    background: rgb(183, 199, 211);
    width: 20px;
    animation: middleBar 3s infinite 0.5s;
    -webkit-animation: middleBar 3s infinite 0.5s;
  }
  @keyframes middleBar {
    0% {
      width: 0px;
    }
    50% {
      width: 20px;
    }
    100% {
      width: 0px;
    }
  }
  @-webkit-keyframes middleBar {
    0% {
      width: 0px;
    }
    50% {
      width: 20px;
    }
    100% {
      width: 0px;
    }
  }

  .icon-bars.overlay::before {
    background: rgb(97, 114, 129);
    background: rgb(183, 199, 211);
    width: 10px;
    animation: topBar 3s infinite 0.2s;
    -webkit-animation: topBar 3s infinite 0s;
  }
  @keyframes topBar {
    0% {
      width: 0px;
    }
    50% {
      width: 10px;
    }
    100% {
      width: 0px;
    }
  }
  @-webkit-keyframes topBar {
    0% {
      width: 0px;
    }
    50% {
      width: 10px;
    }
    100% {
      width: 0px;
    }
  }

  .icon-bars.overlay::after {
    background: rgb(97, 114, 129);
    background: rgb(183, 199, 211);
    width: 15px;
    animation: bottomBar 3s infinite 1s;
    -webkit-animation: bottomBar 3s infinite 1s;
  }
  @keyframes bottomBar {
    0% {
      width: 0px;
    }
    50% {
      width: 15px;
    }
    100% {
      width: 0px;
    }
  }
  @-webkit-keyframes bottomBar {
    0% {
      width: 0px;
    }
    50% {
      width: 15px;
    }
    100% {
      width: 0px;
    }
  }

  .menuIcon.toggle .icon-bars {
    top: 5px;
    transform: translate3d(0, 5px, 0) rotate(135deg);
  }

  .menuIcon.toggle .icon-bars::before {
    top: 0;
    transition-delay: 0.1s;
    opacity: 0;
  }

  .menuIcon.toggle .icon-bars::after {
    top: 10px;
    transform: translate3d(0, -10px, 0) rotate(-270deg);
    transition-delay: 0.1s;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .menuIcon.toggle .icon-bars.overlay {
    width: 20px;
    opacity: 0;
    -webkit-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
  }

  .btn-text{
    margin:0 auto;
    width: 105px;
    text-align: center;
    display: flex;
  }
}

.slideshow-container {
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(206, 59, 59, 0.8);
}

.active, .dot:hover {
  background-color: #717171;
}
